name: Ruby CI
on:
  push:
    branches:
      - master
      - 1.x
  pull_request:
    branches:
      - master
      - 1.x
jobs:
  test:
    runs-on: ubuntu-latest
    env: # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.6, 2.7, "jruby"]
        gemfile:
          - active_support_5_0
          - active_support_5_1
          - active_support_5_2
          - active_support_6_0
    steps:
      - uses: actions/checkout@v2
      - name: Set up CouchDB
        uses: cobot/couchdb-action@v4
        with:
          couchdb version: "2.3.1"
          erlang query server: "true"
      - name: Set up Ruby 2.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake
